.logo > img{
    width: 50px;
    height: 40px;
}
.container-bg {
    background-color: #B1B1B2;
}
.section-crsl {
    padding: 30px 0;
    background-color: #fff;
}
.header-crsl-wrapper {
    border: 3px solid blue;
}
.btn1 {
    background-color: #2358ad;
}
.btn2{
    border: 1px solid #2358ad;
    color: #2358ad;
}
.carousel {
    position: relative;
}
.crsl1-item .controls-top {
    margin-bottom: 0.8rem;
    text-align: center;
}
.crsl1-item .controls-top .btn-floating {
    background: #4285f4;
}
.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    transition: all .2s ease-in-out;
    width: 47px;
    height: 47px;
}
.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    line-height: 47px;
    font-weight: 900;
}

.crsl1-item .carousel-indicators li {
    width: 1.25rem;
    max-width: 1.25rem;
    height: 1.25rem;
    margin-bottom: -3.75rem;
    background-color: #4285f4;
}
.crsl1-item .carousel-indicators .active {
    width: 1.56rem;
    max-width: 1.56rem;
    height: 1.56rem;
    background-color: #4285f4;
    border-radius: 50%;
}
.carousel .carousel-indicators li {
    cursor: pointer;
    border-radius: 50%;
}
.crsl1-item .carousel-inner {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.card {
    font-weight: 400;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.card-body {    
    padding: 1.5rem;
}
.crsl1-item .carousel-inner .carousel-item.active, .crsl1-item .carousel-item-next, .crsl1-item .carousel-item-prev {
    display: flex;
    flex-wrap: wrap;
}
.section-crsl1{
    margin: 30px 0;
}
footer {
    margin-top: 100px;
}
.copyright {
    background-color: #E3E6E9;
    font-size: 1.3rem;
}
